<p><%= simple_format(@contact.content) %></p>

<p>連絡先</p>
<p>企業名:<%= @contact.c_name %></p>
<p>担当者氏名:<%= @contact.name %></p>
<p>TEL:<%= @contact.phone %></p>
<p>Eメールアドレス:<%= @contact.email %></p>
<p>その他連絡先1:<%= @contact.another_one%></p>
<p>その他連絡先2:<%= @contact.another_two %></p>