<p><%= @contct.content %></p>

<p>連絡先</p>
<p>企業名:<%= @contct.c_name %></p>
<p>担当者氏名:<%= @contct.name %></p>
<p>TEL:<%= @contct.phone %></p>
<p>Eメールアドレス:<%= @contct.email %></p>
<p>その他連絡先1:<%= @contct.another_one%></p>
<p>その他連絡先2:<%= @contct.another_two %></p>