<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "自己紹介", root_path, id: "logo" %>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <li><%= link_to "はじめに", root_path %></li>
        <li><%= link_to "経歴", about_path %></li>
        <li><%= link_to "動機", future_path %></li>
        <li><%= link_to "詳細情報", like_path %></li>
        <li><%= link_to "最後に", last_path %></li>
      </div>
    </nav>
  </div>
</header>